@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --bg-cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(156, 42%, 18%);
  --dark-grayish-blue: hsl(228, 17%, 62%);
  --white: hsl(0, 0%, 100%);

  --paddingYMobile: 1.875rem;
  --padddingXMobile: 1.68rem;
  --paddingYDesk: 2rem;
  --padddingXDesk: 2.2rem;

  --ff-sans-serif: "Montserrat", sans-serif;
  --ff-serif: "Fraunces", serif;

  --fs-body: 0.875rem;
  --fw-normal: 500;

  --mt-large: 25px;
  --mt-med: 12px;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  background-color: var(--bg-cream);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
}

section {
  width: 100%;
}

h2,
button,
p {
  font-weight: var(--fw-normal);
}

.container {
  max-width: 38.75rem;
}

.product__card {
  flex-direction: column;
}

.product__card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.75em 0.75em 0 0;
}

.product__infos {
  background-color: var(--white);
  border-radius: 0 0 0.75em 0.75em;
  padding: var(--padddingXMobile) var(--paddingYMobile);
}

.product__infos h2 {
  font-family: var(--ff-sans-serif);
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  margin-bottom: 1.125rem;
}

.product__infos h1 {
  margin: 0;
}

.product__name {
  font-family: var(--ff-serif);
  font-size: 2.125rem;
  line-height: 2.125rem;
  margin-top: var(--mt-large);
  color: var(--color-very-dark-blue);
}

.product__description {
  font-family: var(--ff-sans-serif);
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-grayish-blue);
  margin-top: var(--mt-large);
}

.price__discount {
  font-family: var(--ff-serif);
  color: var(--dark-cyan);
  font-size: 2rem;
}

.price__full {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-body);
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
  margin-left: var(--mt-large);
  margin-top: var(--mt-med);
}

button,
.cart__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.75rem;
  padding: 0.95rem 0;
  background-color: var(--dark-cyan);
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-body);
  color: var(--white);
  border-style: none;
  border-radius: 10px;
  margin-top: var(--mt-med);
}

button,
.cart__btn:hover {
  background-color: var(--very-dark-blue);
  transition: 150ms;
  cursor: pointer;
}

.cart__btn img {
  max-width: 1rem;
}

@media screen and (min-width: 640px) {
  section {
    width: 50%;
  }

  .product__card {
    flex-direction: row;
  }

  .product__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75em 0 0 0.75em;
  }

  .product__infos {
    border-radius: 0 0.75em 0.75em 0;
    padding: var(--padddingXDesk) var(--paddingYDesk);
  }

  .product__description {
    font-size: var(--fs-body);
    line-height: 1.56rem;
  }
}
