:root {
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
  --color-hover-dark-cyan: #1a4031;

  /* Typography */
  --fs-base: 14px;
  --ff-sans-serif: "Montserrat", sans-serif;
  --ff-serif: "Fraunces", serif;
  --fw-500: 500;
  --fw-700: 700;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-cream);
}

img {
  max-width: 50%;
  display: block;
}

.container {
  max-width: 600px;
}

/* Helper classes */

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* Product Card */

.desktop-photo {
  border-radius: 10px 0px 0px 10px;
}

.mobile-photo {
  display: none;
}

.product-info {
  background-color: var(--color-white);
  border-radius: 0px 10px 10px 0px;
  padding: 36px 32px;
}

.product-category {
  font-family: var(--ff-sans-serif);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: var(--color-dark-grayish-blue);
  text-transform: uppercase;
}

.product-name {
  font-family: var(--ff-serif);
  font-size: 36px;
  line-height: 34px;
  margin-top: 25px;
  color: var(--color-very-dark-blue);
}

.product-description {
  font-family: var(--ff-sans-serif);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-dark-grayish-blue);
  margin-top: 25px;
}

.product-price {
  margin-top: 25px;
}

.discount-price {
  font-family: var(--ff-serif);
  color: hsl(158, 36%, 37%);
  font-size: 32px;
}

.full-price {
  font-family: var(--ff-sans-serif);
  font-size: 14px;
  text-decoration: line-through;
  color: var(--color-dark-grayish-blue);
  margin-left: 25px;
  margin-top: 12px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 238px;
  height: 50px;
  background-color: var(--color-dark-cyan);
  font-family: var(--ff-sans-serif);
  font-size: 13px;
  font-weight: 500;
  color: var(--color-white);
  border-style: none;
  border-radius: 10px;
  margin-top: 20px;
}

.btn:hover {
  background-color: var(--color-hover-dark-cyan);
  transition: 150ms;
  cursor: pointer;
}

/* Media */

@media screen and (max-width: 640px) {
  img {
    max-width: 100%;
  }

  .container {
    margin: 20px;
  }

  .product-card {
    margin: 10px;
    flex-direction: column;
  }

  .desktop-photo {
    display: none;
  }

  .mobile-photo {
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
  }

  .product-info {
    border-radius: 0px 0px 10px 10px;
  }
}
